html {
  scroll-behavior: smooth;
}

.navbar {
  overflow: hidden;
  background-color: white;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  box-shadow: 0 2px 2px 2px rgba(0,0,0,.2);
}

.navbar a {
  float: right;
  display: block;
  color: black;
  text-align: right;
  padding: 3% 16px;
  text-decoration: none;
  font-family: sans-serif;
}

.navbar a:hover {
  background: #00a86b;
  color: white;
  cursor: pointer;
}

#logo {
  max-width: 50%;
  max-height: 50%;
}

#button {
  padding: 5%;
}
.btn {
  font-family: sans-serif;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #00a86b;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background: white;
  color: #00a86b;
  border: 2px solid #00a86b;
}

.video {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  flex: 1;
  z-index: 0;
}

#landing {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 35%;
  z-index: 1;
  font-family: sans-serif;
  color: white;
  font-size: 150%;
}

#landing p {
  color: white;
}
.section {
  padding: 100px;
}

.header {
  margin-top: 12%;
  font-family: sans-serif;
  color: #00a86b;
}

h1 {
  font-size: 300%
}

.boxContainer {
  width:98%;
  height:30%%;
  padding: 35px 15px 5px;
  color: white;
  font-size: 110%;
  }
.boxContainer:before,
.boxContainer:after {
  content:"";
  display:table;
  clear: both;
}
.boxContainer div{
  float:left;
  width:25%;
  height:50%;
}

  #box1{
  background-color: #00a86b;
  margin-left:5%;
  margin-right:5%;
  box-shadow: 5px 10px 5px rgba(0,0,0,.2);
  text-align: center;
  font-family: sans-serif;
  border: none;
  border-radius: 6px;
}
#box2{
  background-color: #00a86b;
  margin-left:2%;
  margin-right:5%;
  box-shadow: 5px 10px 5px rgba(0,0,0,.2);
  text-align: center;
  font-family: sans-serif;
  border: none;
  border-radius: 6px;
}
#box3{
  background-color: #00a86b;
  margin-left:5%;
  margin-right:2%;
  box-shadow: 5px 10px 5px rgba(0,0,0,.2);
  text-align: center;
  font-family: sans-serif;
  border: none;
  border-radius: 6px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}


body {
  background: #d6d6d6;
  margin: 0;
  padding: 0;
}
