.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navbar a {
  float: right;
  display: block;
  color: black;
  text-align: right;
  padding: 3% 16px;
  text-decoration: none;
  font-family: sans-serif;
}

.navbar a:hover {
  background: green;
  color: white;
}

#logo {
  max-width: 50%;
  max-height: 50%;
}
.btn {
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.video {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  flex: 1;
}

.section {
  padding: 100px;
}

.header {
  margin-top: 5%;
  font-family: sans-serif;
  color: green;
}

h1 {
  font-size: 300%
}

.boxContainer {
  width:100%;
  height:30%%;
  padding: 35px 15px 5px;
  }
.boxContainer:before,
.boxContainer:after {
  content:"";
  display:table;
  clear: both;
}
.boxContainer div{
  float:left;
  width:30%;
  height:50%;
}
  #box1{
  background-color: green;
  margin-left:30px;
  margin-right:30px;
}
#box2{
  background-color: green;
  margin-left:30px;
  margin-right:30px;
}
#box3{
  background-color: green;
  margin-left:30px;
  margin-right:30px;
}
p {
  color: white;
  padding:5px 10px;
  text-align:center;
  font-family: sans-serif;
}
body {
  background: #d6d6d6;
  margin: 0;
  padding: 0;
}
