.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar a {
  float: right;
  display: block;
  color: black;
  text-align: right;
  padding: 3% 16px;
  text-decoration: none;
  font-family: sans-serif;
}

.navbar a:hover {
  background: green;
  color: white;
}

#logo {
  max-width: 50%;
  max-height: 50%;
}

body {
  background: grey;
  margin: 0;
  padding: 0;
}
